server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: nestjs-app
    static_configs:
      - targets:
          - localhost
        labels:
          job: nestjs
          app: explore-nest
          __path__: /var/log/app/*.log
    pipeline_stages:
      - json:
          expressions:
            level: level
            msg: msg
            time: time
            req_id: req.id
      - labels:
          level:
          req_id:
